@charset "UTF-8";
// Pretendard
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 100;
	src: local('Pretendard'),url('../fonts/Pretendard-Thin.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight:200;
	src: local('Pretendard'), url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 300;
	src: local('Pretendard'), url('../fonts/Pretendard-Light.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src: local('Pretendard'), url('../fonts/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src: local('Pretendard'),  url('../fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src: local('Pretendard'), url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src: local('Pretendard'), url('../fonts/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 800;
	src: local('Pretendard'), url('../fonts/Pretendard-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 900;
	src: local('Pretendard'), url('../fonts/Pretendard-Black.woff2') format('woff2');
}
