@charset "UTF-8";

@import "functions";
@import "variables";

// Mixins
@import "mixins";

// main
@import "main/visual";

body {
    &.body-fixed {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

main {
    overflow: hidden;
}

section + section {
    margin-top: 120px;

    @include mdq-max(md) {
        margin-top: 60px;
    }
}

.section_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(24);
    margin-bottom: 40px;

    @include mdq-max(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: rem(16);
        margin-bottom: 20px;
    }

    .title_wrap {
        .section_label {
            font-size: rem(20);
            font-weight: 900;
            color: #7d67ff;
            line-height: 28px;
            font-family: "Red Hat Display", sans-serif;
        }

        .section_title {
            font-size: rem(40);
            font-weight: 700;
            color: #404345;
            letter-spacing: -1px;
            line-height: 56px;
            margin-top: 12px;

            @include mdq-max(lg) {
                font-size: rem(32);
                line-height: 40px;
            }

            @include mdq-max(md) {
                font-size: rem(24);
                line-height: 32px;
                margin-top: 8px;
            }
        }
    }

    .filter_wrap {
        display: flex;
        align-items: center;
        gap: rem(8);

        .filter_tab {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: rem(8) rem(18);
            border-radius: 9999px;
            font-weight: 600;
            font-size: rem(16);
            line-height: 1.4;
            letter-spacing: -0.4px;
            white-space: nowrap;
            text-decoration: none;
            color: #acb6bc;
            border: 1px solid #dfe5ea;
            background: $white;
            transition: all 0.2s;

            &.is-active {
                background: #7d67ff;
                color: $white;
                border-color: #7d67ff;
            }
        }
    }
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    @include mdq-max(xxl) {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    @include mdq-max(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include mdq-max(md) {
        grid-template-columns: 1fr;
    }

    &.insight_grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include mdq-max(lg) {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        @include mdq-max(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        .card_thumb {
            height: 280px;
            border-radius: 16px;
        }

        .content_title_wrap {
            @include mdq-max(md) {
                margin-top: 8px;
            }
        }
    }

    .card_item {
        display: block;
        width: 100%;
        height: fit-content;
        border-radius: 16px;
        overflow: hidden;
        background: $white;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.4s;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
        }

        .card_thumb {
            width: 100%;
            height: 220px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;

            @include mdq-max(xl) {
                height: 200px;
            }

            @include mdq-max(md) {
                height: 150px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }

            &.mobile_thumb {
                height: 480px;

                @include mdq-max(md) {
                    height: 240px;
                }
            }
        }

        .card_content {
            padding: 20px;

            @include mdq-max(xl) {
                padding: 12px;
            }

            .card_top_content {
                @include mdq-max(md) {
                    gap: 4px;
                }
            }

            .tag_wrap {
                .tag {
                    padding: 5px 16px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                    background: rgba(247, 247, 251, 0.7);
                    backdrop-filter: blur(4px);
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 19px;
                    letter-spacing: -0.3px;
                    color: #404345;
                    text-transform: uppercase;

                    @include mdq-max(md) {
                        padding: 4px 12px;
                        font-size: 12px;
                        line-height: 17px;
                    }
                }
            }

            .content_user_wrap {
                display: flex;
                align-items: center;
                gap: 6px;
                margin-top: 12px;
                
                @include mdq-max(md) {
                    margin-top: 8px;
                    gap: 4px;
                }

                .thumb {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    overflow: hidden;

                    @include mdq-max(md) {
                        flex: 0 0 30px;
                        height: 30px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .user_info {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    @include mdq-max(md) {
                        gap: 4px;
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .bullet {
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background: #CED5DB;

                        @include mdq-max(md) {
                            display: none;
                        }
                    }
                    .user_name {
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 18px;
                        color: #404345;

                        @include mdq-max(md) {
                            font-size: 12px;
                            line-height: 16px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                    .date {
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 18px;
                        letter-spacing: -0.3px;
                        color: #404345;

                        @include mdq-max(md) {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }
            }

            .content_title_wrap {
                .content_label {
                    font-size: rem(14);
                    font-weight: 500;
                    color: #82898e;
                    line-height: 20px;
                    letter-spacing: -0.4px;
                    margin-bottom: 6px;

                    @include mdq-max(md) {
                        margin-bottom: 0;
                        line-height: 1;
                    }
                }

                .content_title {
                    font-size: rem(18);
                    font-weight: 700;
                    color: #404345;
                    line-height: 25px;
                    letter-spacing: -0.4px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;

                    @include mdq-max(xl) {
                        font-size: rem(16);
                        line-height: 1;
                    }
                }

                .content_desc {
                    font-size: rem(14);
                    font-weight: 500;
                    color: #82898e;
                    line-height: 20px;
                    letter-spacing: -0.4px;
                    margin-top: 6px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;

                    @include mdq-max(xl) {
                        -webkit-line-clamp: 2;
                    }

                    @include mdq-max(md) {
                        -webkit-line-clamp: 2;
                        line-height: 1;
                    }
                }
            }

            .vote_btn {
                display: flex;

                &.active {
                    svg path {
                        fill: #000;
                    }
                }

                @include mdq-max(xl) {
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }

                @include mdq-max(md) {
                    margin-left: auto;
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .divider {
                border-top: 1px solid#DFE5EA;
                margin-top: 16px;
                padding-top: 16px;

                @include mdq-max(md) {
                    margin-top: 12px;
                    padding-top: 12px;
                }
            }

            .postheader_wrap {
                display: flex;
                flex-wrap: wrap;
                row-gap: 10px;

                @include mdq-max(md) {
                    row-gap: 6px;
                }
            }

            .postheader {
                width: 100%;
                @include mdq-max(md) {
                    gap: 6px;
                }
                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    border-radius: 8px;
                    background-color: #f7f7fb;
                    flex: 0 0 auto;

                    @include mdq-max(xl) {
                        width: 40px;
                        height: 40px;
                    }

                    @include mdq-max(md) {
                        width: 30px;
                        height: 30px;
                    }
                }

                .info {
                    width: 100%;
                    .name {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 22px;
                        letter-spacing: -0.4px;
                        color: #111;

                        @include mdq-max(xl) {
                            font-size: rem(14);
                        }

                        @include mdq-max(md) {
                            line-height: 1;
                        }
                    }
                    .desc {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: -0.35px;
                        color: #82898e;
                        margin-top: 2px;

                        @include mdq-max(xl) {
                            font-size: rem(12);
                        }

                        @include mdq-max(md) {
                            line-height: 1;
                        }
                    }
                }
            }

            .meta {
                @include mdq-max(md) {
                    margin-left: auto;
                }
                span {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: -0.3px;
                    color: #999;
                }
            }

            .meta_list {
                display: flex;
                align-items: center;
                gap: 6px;
                margin-top: 16px;

                @include mdq-max(md) {
                    gap: 4px;
                    margin-top: 6px;
                    flex-wrap: wrap;
                }

                .meta_item {
                    display: flex;
                    padding: 9px;
                    background-color: #f7f7fb;
                    border-radius: 50%;

                    @include mdq-max(md) {
                        padding: 6px;
                    }
                }
            }
        }
    }
}

.card_more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    @include mdq-max(md) {
        margin-top: 40px;
    }

    .btn_more {
        width: rem(200);
        padding: 16px 0;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #acb6bc;
        border-radius: 8px;
        border: 1px solid #dfe5ea;
        transition: all 0.2s;
        @include mdq-max(md) {
            width: rem(120);
            padding: 8px 0;
            font-size: 14px;
        }

        &:hover {
            background: #7d67ff;
            color: $white;
            border-color: #7d67ff;
        }
    }
}

// 검색 결과 페이지
.search-results-page {
    padding-top: rem(32);
    padding-bottom: rem(80);

    @include mdq-max(md) {
        padding-top: rem(20);
        padding-bottom: rem(60);
    }

    .card_item--search-extra {
        display: none !important;
    }

    .card_section.search-show-all .card_item--search-extra {
        display: block !important;
    }
}

.search-result-head {
    margin-bottom: rem(48);

    @include mdq-max(md) {
        margin-bottom: rem(32);
    }

    .search-result-title {
        font-size: rem(22);
        font-weight: 700;
        color: #404345;

        @include mdq-max(md) {
            font-size: rem(18);
        }

        .q {
            color: #7d67ff;
        }
    }
}

.search-category-empty {
    text-align: center;
    padding: rem(48) rem(20);
    color: #acb6bc;
    font-size: rem(16);
    font-weight: 500;
    margin: 0;

    @include mdq-max(md) {
        padding: rem(32) rem(16);
        font-size: rem(15);
    }
}
