@charset "UTF-8";

/* 기본 팝업 */
.popup {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: rem(40) rem(20);
	background-color: #fff;
	border-radius: 30px;

	.popup-title-bx {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: rem(20);
		border-bottom: 1px solid #ddd;
		margin-bottom: rem(20);

		@include mdq-max(md) {
			margin-bottom: rem(20);
		}

		.title {
			font-size: rem(24);
			font-weight: bold;
			line-height: 1;
			letter-spacing: normal;

			@include mdq-max(md) {
				font-size: rem(20);
			}
		}

		.mfp-close {
			width: fit-content;
			height: fit-content;
			line-height: 1;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: rem(40);
		}
	}

	.text-bx {
		overflow-y: scroll;
		max-height: 400px;

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			width: 10px;
			background: $color-1;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
			box-shadow: inset 0 0 5px $gray-d;
			border-left: 4.5px solid transparent;
			border-right: 4.5px solid transparent;
		}
	}

	&.popup--lg {
		max-width: 1200px;
	}

	&.popup--sm {
		max-width: 500px;
	}
	&.popup--privary {
		max-width: 400px;

		.popup-body{
			max-height: 400px;
			overflow-y: auto;
		}
	}

	&__title {
		font-size: rem(20);
	}

	&-body {
	}

	&-footer {
	}

	&.hide-close {
		.mfp-close {
			display: none !important;
		}
	}
}

/* 파일 다운로드 팝업 */
.pop-file-download {
	position: relative;
	max-width: 500px;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: rem(30);

	.link {
		&:hover {
			text-decoration: underline;
		}
	}
}

/* 팝업 내부 팝업 */
.pop-in-pop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#000, 0.8);

	.pop-in-close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 1rem;
		padding: 0.5rem;
		font-weight: 700;
		cursor: pointer;
	}
}
