@charset "UTF-8";

.footer {
	padding: rem(50) 0;
	background: #eee;
	@include mdq-max(md){
		font-size: rem(16);
		padding: 40px 0 110px 0;
	}

	&__logo {
		justify-content: space-between;
		img {
			width: em(213);
			@include mdq-max(md){
				width: em(140);
			}
		}
		a{
			display: inline-block;
			width: 20px;
			height: 30px;
		}
		& .youtube_link{
			background: url(../images/main/icon/youtub_ico.png)no-repeat center/100%;
		}
		& .insta_link{
			background: url(../images/main/icon/insta_ico.png)no-repeat center/100%;
		}
		& .blog_link{
			background: url(../images/main/icon/blog_ico.png)no-repeat center/100%;
		}
	}

	&__txt {
		position: relative;
		overflow: hidden;
		left: -0.5em;
		display: flex;
		justify-content: space-between;
		align-items: end;
		@include mdq-max(md){
			flex-direction: column;
			align-items: start;
			justify-self: unset;
		}
		.txt {
			&.txt_1{
				font-weight: 600;
				@include mdq-max(md){
					font-size: 15px;
					display: flex;
					align-items: center;
					gap: rem(20);
				}
			}
			&.txt_2{
				@include mdq-max(md){
					display: flex;
					align-items: center;
					gap: rem(20);
					.txt_2 span{
						display: flex;
						gap: rem(4);
					}
				}
			}
			span {
				position: relative;
				display: inline-block;
				padding: 0 0.5em;
				@include mdq-max(md){
					padding: 0;
				}
				& em{
					opacity: 0.4;
					font-style: normal;
				}
			}
			+ .txt{
				margin-top: 10px;
			}
		}
		& .right_txt{
			text-align: right;
			@include mdq-max(md){
				width: 100%;
				text-align: left;
				margin-top: rem(40);
			}
			& .txt{
				margin-bottom: 10px;
				@include mdq-max(md){
					display: flex;
					align-items: center;
					gap: rem(30);
					font-size: 15px;
				}
				& span:last-child{
					padding-right: 0;
				}
			}
			.footer-copyright{
				opacity: 0.4;
			}
		}
	}
}

//quick-menu
.quick-menu {
	position: fixed;
	right: rem(60);
	bottom: rem(40);
	z-index: 99;
	color: $white;
	@include mdq-max(xl){
		right: rem(20);
	}
	@include mdq-max(md){
		bottom: 90px;
	}
	li{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.chat-btn {
		background-color: #4A26FF;
		border: none;
		border-radius: 10px;
		width: 60px;
		height: 60px;
		cursor: pointer;
		&::before{
		  content: '';
		  width: 40px;
		  height: 40px;
		  display: inline-block;
		  background: url(../images/main/icon/chat_img.png)no-repeat center;
		}
	  }

	li+li {
		margin-top: rem(10);
	}
	.top-btn {
		transition: transform 0.5s ease;
		width: rem(60);
		height: rem(60);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $color-1;
		i {
			color: $white;
			font-size: rem(36);
			transition: transform 0.5s ease;
		}

		&.up {
			i {
				transform: rotate(0);
			}
		}

		&.down {
			i {
				transform: rotate(180deg);
			}
		}
	}
}

//mobile-nav
.mobile-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;

	.nav-list {
		display: flex;

		li {
			flex: 1;
			height: 70px;
			background: $gray-2;
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 1px solid rgba(#fff, 0.3);

			a {
				display: flex;
				text-align: center;
				color: $white;
			}
		}
	}
}

//Mobile navigation
.mobileWrap {
	max-width: 768px;
	margin: 0 auto;
	width: 100%;

	.mobileNav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}

	.mHeader {
		.top--bx {
			position: relative;
			padding: 20px;
			border-bottom: 1px solid $gray-e;

			.alert-link {
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.infoTxt{
		margin: 0 20px;
		p{
			width: 100%;
			border-radius: 20px;
			background: $color-1;
			padding: 10px 20px;
			color: $white;
			text-align: center;
		}
	}

	.loginBox--off {
		padding: 20px;
		display: flex;
		align-items: center;
		gap: rem(10);

		>a {
			flex: 1;
			height: rem(50);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: rem(20);
			font-weight: 500;
			border-radius: 0.5em;
			font-size: 14px;

			&.m-login {
				border: 1px solid $gray-e;
				background: $white;
			}

			&.m-join {
				border: 1px solid $color-1;
				background: $color-1;
				color: $white;
			}
		}
	}

	.loginBox--on {
		padding: 20px;

		.profill-bx {
			display: flex;
			align-items: center;

			.icon-bx {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}

			.profill-setting {
				color: $color-1;
				font-weight: 500;
				display: block;
			}
		}

		.myList {
			display: flex;
			flex-wrap: wrap;
			gap: 5px 10px;
			text-align: center;

			>li {
				width: calc(50% - 5px);

				a {
					border-radius: 0.5em;
					background: $white;
					border: 1px solid rgba(#000, 0.1);
					display: flex;
					align-items: center;
					justify-content: center;
					height: 60px;
					flex-direction: column;
				}

				.active-txt {
					color: $color-1;
					font-weight: 500;
				}
			}
		}
	}

	.mBottom {
		padding: 20px;
		height: 100%;

		.utill--off, .utill--on {
			display: flex;
			flex-direction: column;
			height: 100%;

			li {
				padding: 10px;
				background: $white;
				border-radius: 10px;
				border: 1px solid $gray-e;
				&+li{
					margin-top: 10px;
				}

				>a {
					font-weight: 500;
					display: block;
					position: relative;
				}
			}
		}
	}
}