@charset "UTF-8";

.footer {
	padding: rem(50) 0;
	background: #fff;
	color: #000;
	font-size: rem(13);
	font-weight: 100;
	font-family: Pretendard, sans-serif;
	& .container{
		max-width: 1640px;
		width: 1640px;
	}

	&__logo {
		justify-content: space-between;
		img {
			width: em(213);
		}
		& .youtube_link{
			display: inline-block;
			width: 20px;
			height: 30px;
			background: url(../images/main/youtub_ico.png)no-repeat center/100%;
		}
		& .insta_link{
			display: inline-block;
			width: 20px;
			height: 30px;
			background: url(../images/main/insta_ico.png)no-repeat center/100%;
		}
		& .blog_link{
			display: inline-block;
			width: 20px;
			height: 30px;
			background: url(../images/main/blog_ico.png)no-repeat center/100%;
		}
	}

	// 푸터 텍스트 구분선 스타일 샘플
	&__txt {
		position: relative;
		overflow: hidden;
		left: -0.5em;
		display: flex;
		justify-content: space-between;
		align-items: end;
		.txt {
			font-weight: 500;
			span {
				position: relative;
				display: inline-block;
				padding: 0 0.5em;
				& em{
					color: #000;
					opacity: 0.4;
					font-style: normal;
				}
			}
			& .service{
				font-weight: 500;
			}
			+ .txt{
				margin-top: 10px;
			}
		}
		& .right_txt{
			text-align: right;
			& .txt{
				margin-bottom: 10px;
				& span:last-child{
					padding-right: 0;
				}
			}
		}
	}

	.created-masstige {
		.masstige {
			font-weight: 500;
		}
		&:hover {
			color: #7d67ff;
		}
	}
}
