@charset "UTF-8";

///*목록 페이징*/
.paging-area {
	position: relative;
	margin-top: 60px;
	font-size: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	li {
		padding: 0;
	}

	a {
		font-size: 18px;
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		color: $gray-2;
		background-color: #fff;
		box-sizing: border-box;
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		transition: all 0.5s;

		span {
			display: inline-block;
			text-indent: -9999px;
		}

		&:hover {
			color: $color-1;
			font-weight: 600;
		}

		&.active {
			color: $color-1;
			font-weight: 600;
			text-decoration: none;
		}

		&.prev-first {
			background-image: url('../images/paging/prev-first.png');
		}

		&.prev {
			background-image: url('../images/paging/prev.png');
		}

		&.next-last {
			background-image: url('../images/paging/next-last.png');
		}

		&.next {
			background-image: url('../images/paging/next.png');
		}
	}
}
